<div class="container padding-btn-container">
	<br>
	<br>
		<%= link_to "<i class='fa fa-plus-circle' aria-hidden='true'></i> Agregar Evento".html_safe, new_admin_event_path, class: "btn btn-form-cancel" %>
	<br>
	<br>
</div>
<div class="edgar-container container table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Evento</th>
				<th class="text-center">Descripción</th>
				<th class="text-center">FL1</th>
				<th class="text-center">FL2</th>
				<th class="text-center">FL3</th>
				<th class="text-center">FL4</th>
				<th class="text-center">Inicio</th>
				<th class="text-center">Fin</th>
				<th class="text-center">Publicado</th>
				<th class="text-center"></th>
			</tr>
		</thead>
		<tbody id="events">
			<%- @events.each do |e| %>
			<tr>
				<td><%= e.title %></td>
				<td><%= e.description.truncate(50) %></td>
				<td>
					<% case e.first_moon_cycle %>
          <% when 1 %>
            <%= image_tag("fases_luna/luna_nueva.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Nueva")%>
            <!--<p style="color: #900C3F;"><b></b></p>-->
          <% when 2 %>
            <%= image_tag("fases_luna/cuarto_creciente.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Creciente")%>
          <% when 3 %>
            <%= image_tag("fases_luna/luna_llena.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Llena")%>
          <% else %>
            <%= image_tag("fases_luna/cuarto_menguante.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Menguante")%>
          <% end %>
				</td>
				<td>
					<% case e.second_moon_cycle %>
          <% when 1 %>
            <%= image_tag("fases_luna/luna_nueva.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Nueva")%>
            <!--<p style="color: #900C3F;"><b></b></p>-->
          <% when 2 %>
            <%= image_tag("fases_luna/cuarto_creciente.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Creciente")%>
          <% when 3 %>
            <%= image_tag("fases_luna/luna_llena.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Llena")%>
          <% else %>
            <%= image_tag("fases_luna/cuarto_menguante.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Menguante")%>
          <% end %>
				</td>
				<td>
					<% case e.third_moon_cycle %>
          <% when 1 %>
            <%= image_tag("fases_luna/luna_nueva.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Nueva")%>
            <!--<p style="color: #900C3F;"><b></b></p>-->
          <% when 2 %>
            <%= image_tag("fases_luna/cuarto_creciente.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Creciente")%>
          <% when 3 %>
            <%= image_tag("fases_luna/luna_llena.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Llena")%>
          <% else %>
            <%= image_tag("fases_luna/cuarto_menguante.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Menguante")%>
          <% end %>
				</td>
				<td>
					<% case e.quarter_moon_cycle %>
          <% when 1 %>
            <%= image_tag("fases_luna/luna_nueva.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Nueva")%>
            <!--<p style="color: #900C3F;"><b></b></p>-->
          <% when 2 %>
            <%= image_tag("fases_luna/cuarto_creciente.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Creciente")%>
          <% when 3 %>
            <%= image_tag("fases_luna/luna_llena.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Luna Llena")%>
          <% else %>
            <%= image_tag("fases_luna/cuarto_menguante.png", class:"img-fluid", style:"width: 20px; height: 20px; margin: auto; text-align: center;", title:"Cuarto Menguante")%>
          <% end %>
				</td>
				<td><%= e.start.strftime('%d-%m-%Y') rescue nil %></td>
				<td><%= e.end.strftime('%d-%m-%Y') rescue nil %></td>
				<td class='text-center'>
					<%= e.status == true ? '<i class="fa fa-check-circle btn-active" aria-hidden="true" title="Publicado"></i>'.html_safe : '<i class="fa fa-minus-circle btn-disable" aria-hidden="true" title="No Publicado"></i>'.html_safe %>
						
				</td>
				<td>
					<%= link_to "<i class='fa fa-pencil-square-o' aria-hidden='true' title='Editar'></i>".html_safe, edit_admin_event_path(e), class: "btn btn-edit" %>
					<%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, admin_event_path(e), method: :delete, data: {:confirm => "¿Esta seguro de eliminar el evento?" } , class: "btn btn-edit" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @events, class:"apple_pagination"  %>
	<br><br>
	<div class='calendar'></div>
</div>

<style>
	.fc-toolbar.fc-header-toolbar {
    padding: 2rem 1rem;
    background-color: #fff;
    border-color: #fff;
}
</style>